@keyframes switchToAutomatic {
    from {
        clip-path: polygon(30% 0, 100% 0, 100% 100%, 0% 100%);
    }
    to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
    }
}

@keyframes switchToManual {
    from {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
    }
    to {
        clip-path: polygon(30% 0, 100% 0, 100% 100%, 0% 100%);
    }
}

#arrow {
    position: absolute;
    width: 35px;
    top: 3%;
    left: 3%;

    animation: absoluteFromLeft var(--time);
}
#arrow:hover {
    cursor: pointer;
}

#container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    width: 100%;
}

/* right box */
#right-box {
    background-color: var(--accent);
    clip-path: polygon(30% 0, 100% 0, 100% 100%, 0% 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;

    animation: inFromRight var(--time);
}

#logo-icon {
    height: 25%;
    margin-top: auto;
    margin-left: auto;
    margin-right: 5%;
}

/* left box :0 */
#left-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    animation: inFromLeft var(--time);
}

#button-holder {
    display: flex;
    flex-direction: row;
    width: 80%;
    aspect-ratio: 6/1;
    border-radius: 100px;
    margin-bottom: 10%;
    overflow: hidden;
}

#button-holder p {
    width: 100%;
    color: var(--text);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
}
#button-holder p:first-child {
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border-right: transparent;
}
#button-holder p:last-child {
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-left: transparent;
}

.selected {
    background-color: var(--accent);
    border: solid transparent 5px;
}

.unselected {
    background-color: var(--background);
    border: solid var(--accent) 5px;
}

.title {
    color: var(--text);
    font-size: 200%;
}

.holder {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 75%;
    border-radius: 0.7rem;

    font-size: 200%;
}

.bucket {
    aspect-ratio: 6/1;
    border-radius: 100px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    border: solid transparent 5px;
    vertical-align: center;
}

.assigned {
    background-color: var(--text);
    transition: ease-in-out 0.2s;
}

.assigned .bucket-txt {
    color: var(--background);
}

.assigned:hover {
    opacity: 0.2;
}

.unassigned {
    color: var(--text);
    border: dotted var(--text) 5px;
}

.unassigned .bucket-txt {
    color: var(--text);
}

#bucket-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    aspect-ratio: 2/1;
    gap: 2vw;
}

#title-holder {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
    justify-content: space-around;
    align-items: center;
}
#create-bucket {
    height: 30%;
    padding: 5px;
    border-radius: 100px;
    cursor: pointer;
    user-select: none;
}

#name-txt {
    margin-top: 0;
    color: var(--text);
    font-size: xx-large;
}
#name-input {
    color: var(--text);
    width: 60%;
    aspect-ratio: 8/1;
    background-color: var(--background);
    border: transparent;
    border-bottom: solid var(--accent) 5px;
    font-size: x-large;
    text-align: center;
    margin-bottom: 5%;
    caret-color: var(--primary);
    caret-shape: underscore;
}
#name-input:focus {
    outline: none;
}

#name-submit {
    background-color: var(--accent);
    font-family: var(--font);
    font-size: 2rem;
    font-weight: bold;
    color: var(--primary);
    width: 60%;
    aspect-ratio: 3/1;
    border: transparent;
    border-radius: 100px;
    cursor: pointer;
}

/* automatic */

@keyframes swoopLeft {
    from {
        left: 100%;
    }
    to {
        left: 0%;
    }
}

@keyframes swoopRight {
    from {
        left: 0%;
    }
    to {
        left: 100%;
    }
}
@keyframes manualOutToRight {
    to {
        transform: translate(100%);
    }
}
@keyframes automaticOutToRight {
    from {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
    }
    to {
        transform: translate(100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
    }
}

#drop-down-holder {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 100%;
    padding-left: 8.6%;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    top: 41.8%;
    z-index: 1;
}

#sort-by {
    color: var(--text);
    font-size: 200%;
    margin: 0;
    margin-bottom: 5%;
}