:root {
    --text: gray;
    --background: #363636;
    --primary: #b197f9;
    --secondary: #d7d7d7;
    --accent: #581f91;

    --font: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    --time: 0.5s;
}

html, body {
    background-color: var(--background);
    height: 100%;
    margin: 0;
    overflow: hidden;
}

p {
    font-family: var(--font);
    font-weight: bold;
    color: var(--background);
    user-select: none;
}

@keyframes absoluteFromLeft {
    from {
        left: -100%;
    }
}

@keyframes outToLeft {
    to {
        transform: translate(-150%);
    }
}

@keyframes outToRight {
    to {
        transform: translate(100%);
    }
}

@keyframes inFromLeft {
    from {
        transform: translate(-150%);
    }
    to {
        transform: translate(0);
    }
}

@keyframes inFromRight {
    from {
        transform: translate(100%);
    }
    to {
        transform: translate(0%);
    }
}