:root {
    --text: gray;
    --background: #363636;
    --primary: #b197f9;
    --secondary: #d7d7d7;
    --accent: #581f91;

    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    font-weight: bold;
    color: var(--background);
    --time: 0.5s;

    --font-scale: 1.333;
    --p: 1rem;
    --h5: calc(var(--p) * var(--font-scale));
    --h4: calc(var(--h5) * var(--font-scale));
    --h3: calc(var(--h4) * var(--font-scale));
    --h2: calc(var(--h3) * var(--font-scale));
    --h1: calc(var(--h2) * var(--font-scale));
    margin: 0;
}

html, body {
    background-color: var(--background);
    height: 100%;
    margin: 0;
    overflow: hidden;
}

p {
    font-size: var(--p);
}
h1 {
    font-size: var(--h1);
}
h2 {
    font-size: var(--h2);
}
h3 {
    font-size: var(--h3);
}
h4 {
    font-size: var(--h4);
}
h5 {
    font-size: var(--h5);
}

@keyframes absoluteFromLeft {
    from {
        left: -100%;
    }
}
@keyframes absoluteFromRight {
    from {
        right: -100%;
    }
}

@keyframes absoluteOutLeft {
    from {
        left: 0%;
    }
    to {
        left: -100%;
    }
}
@keyframes absoluteOutRight {
    to {
        right: -100%;
    }
}

@keyframes outToLeft {
    to {
        transform: translate(-50%);
    }
}

@keyframes inFromLeft {
    from {
        transform: translate(-50%);
    }
    to {
        transform: translate(0);
    }
}

@keyframes inFromRight {
    from {
        transform: translate(100%);
    }
    to {
        transform: translate(0%);
    }
}

@keyframes slideInFromTop {
    from {
        transform: translate(0%, -100%);
    }
}

@keyframes disappear {
    to {
        opacity: 0;
        pointer-events: none;
    }
}

@keyframes appear {
    to {
        opacity: 1;
        pointer-events: all;
    }
}

/* modal */
#modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: black; /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

    animation: slideInFromTop var(--time);
}
  
#modal-content {
    background-color: var(--background);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 25px;
}
  
  /* The Close Button */
#close-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    margin-right: auto;
}
  
#close-modal:hover,
#close-modal:focus {
    color: black;
    text-decoration: none;
}

.radio {
    border-radius: 50px;
    width: 30px;
    height: 30px;
    aspect-ratio: 1/1;
    border: none;
    accent-color: var(--accent);
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0;
    margin-right: 0;
}

.label {
    font-family: var(--font);
    font-size: 1.5rem;
    color: var(--text);
    font-weight: bold;
    margin: 10px;
    user-select: none;
}

.radio:after {
    height: 100%;
    border-radius: 15px;
    aspect-ratio: 1/1;
    background-color: var(--text);
    content: '';
    display: inline-block;
    margin: 0;
}

.radio:checked:after {
    height: 100%;
    border-radius: 15px;
    aspect-ratio: 1/1;
    position: relative;
    background-color: var(--primary);
    content: '';
    display: inline-block;
    margin: 0;
}

.button {
    background-color: var(--primary);
    border-radius: 100px;
    width: 20vw;
    aspect-ratio: 3/1;
    border: none;
    font-size: xx-large;
    font-weight: bold;
    color: var(--accent);
}

#start {
    margin-top: auto;
    margin-bottom: 5vh;
    margin-left: auto;
    margin-right: 5%;
}