/* left box */

@keyframes panLeft {
    to {
        clip-path: polygon(0 0, 0 0, -30% 100%, 0 100%);
    }
}

@keyframes panRight {
    to {
        transform: translate(100%);
    }
}

#holder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    width: 100%;
}

#left-box {
    background-color: var(--accent);
    clip-path: polygon(0 0, 100% 0, 70% 100%, 0% 100%);
    display: flex;
    align-items: center;
}

#logo-icon {
    height: 25%;
    margin-right: auto;
    margin-left: 5%;
}

/* right box */

#right-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-holder {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 75%;
    border-radius: 0.7rem;

    font-size: 200%;
}

.line {
    margin-left: auto;
    margin-right: auto;
    background-color: var(--text);
    height: 2px;
    width: 100px;
}

#open-file {
    background-color: var(--primary);
}

#folder-icon {
    width: 10%;
    aspect-ratio: 1/1;
    color: white;
}

#open-file-txt {
    margin-left: 5%;
}

#or {
    font-weight: normal;
    color: var(--text);
}

#drag-folder-holder {
    background-color: var(--accent);
    border: solid transparent 5px;
}

#drag-folder {
    color: var(--text);
}